In [4]:
# path definition
path_to_cnl_data = './'

!ls

Donnees_CNL.csv  Donnees_CNL_2.csv  LICENSE  README.md	data_exploration.ipynb

In [6]:
import pandas as pd
import numpy as np

In [7]:
import chardet

In [8]:
with open('Donnees_CNL.csv', 'rb') as f:
    enc = chardet.detect(f.read())

In [4]:
enc

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [27]:
# df = pd.read_csv("Donnees_CNL.csv", encoding = enc['encoding'])

In [24]:
df = pd.read_excel('Donnees_CNL_converted_to_xlsx.xlsx', sheet_name='Donnees_CNL')

In [25]:
df.head(5)

,Lessives.LVLb,Deodorants.ICOS1,EauDeToilette.ICOS2,ProdSoinCheveux.ICOS3,ProdSoinVisage.ICOS4,VernisOngleDissolv.ICOS5,NbPieceAvecProduitsChim.NQ142,NettoyantDeSurface.QPE1b,AutreNettoyants.QPE2b,DesodoAreosolVaporisateur.QPD1b,...,Nb_Enfants_inf_10,Nb_Enfants_sup_10,Sexe,Diplome_Max,Type_Prof,Occupation,Source_ppale_Res,Structure_menage,TYPEMEN,Formldéhyde
0,0.0,10.5,14.0,0.0,7.0,0.0,0,0.0,0.0,0.0,...,0,0,2,1,6,1,1,3,1,12.26
1,3.5,14.0,14.0,1.0,7.0,0.5,0,7.0,3.5,3.5,...,0,1,1,7,4,1,1,2,5,10.17
2,1.5,7.0,7.0,0.0,7.0,0.0,0,0.0,0.0,0.0,...,0,0,2,8,5,1,1,1,2,21.55
3,1.5,7.0,10.5,0.5,1.0,0.0,1,3.5,0.0,0.0,...,0,0,2,5,4,1,1,3,1,NaN
4,3.5,0.0,1.0,0.5,7.0,1.0,1,1.0,0.0,0.0,...,2,0,1,9,3,1,1,2,6,11.03