# <span style="color:red"> Chargement Dataset </span>

In [4]:
# path definition
path_to_cnl_data = './'

!ls

Donnees_CNL.csv  Donnees_CNL_2.csv  LICENSE  README.md	data_exploration.ipynb

In [6]:
import pandas as pd
import numpy as np

In [125]:
#df_test = pd.read_csv("Donnees_CNL.csv")

In [7]:
import chardet

In [8]:
with open('Donnees_CNL.csv', 'rb') as f:
    enc = chardet.detect(f.read())

In [4]:
enc

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [124]:
#df = pd.read_csv("Donnees_CNL.csv", encoding = enc['encoding'])

<span style="color:red">*Le soucis est que le fichier est bien encodé en ISO-8859-1 mais est en réalité un fichier excel et non csv (présence d'une sheet nommé Donnees_CNL) : la seule solution est donc la création d'un nouveau fichier en format xlsx*</span>

In [28]:
df = pd.read_excel('Donnees_CNL_converted_to_xlsx.xlsx', sheet_name='Donnees_CNL')

In [29]:
df.head(5)

,Lessives.LVLb,Deodorants.ICOS1,EauDeToilette.ICOS2,ProdSoinCheveux.ICOS3,ProdSoinVisage.ICOS4,VernisOngleDissolv.ICOS5,NbPieceAvecProduitsChim.NQ142,NettoyantDeSurface.QPE1b,AutreNettoyants.QPE2b,DesodoAreosolVaporisateur.QPD1b,...,Nb_Enfants_inf_10,Nb_Enfants_sup_10,Sexe,Diplome_Max,Type_Prof,Occupation,Source_ppale_Res,Structure_menage,TYPEMEN,Formldéhyde
0,0.0,10.5,14.0,0.0,7.0,0.0,0,0.0,0.0,0.0,...,0,0,2,1,6,1,1,3,1,12.26
1,3.5,14.0,14.0,1.0,7.0,0.5,0,7.0,3.5,3.5,...,0,1,1,7,4,1,1,2,5,10.17
2,1.5,7.0,7.0,0.0,7.0,0.0,0,0.0,0.0,0.0,...,0,0,2,8,5,1,1,1,2,21.55
3,1.5,7.0,10.5,0.5,1.0,0.0,1,3.5,0.0,0.0,...,0,0,2,5,4,1,1,3,1,NaN
4,3.5,0.0,1.0,0.5,7.0,1.0,1,1.0,0.0,0.0,...,2,0,1,9,3,1,1,2,6,11.03

In [30]:
df.columns

Index(['Lessives.LVLb', 'Deodorants.ICOS1', 'EauDeToilette.ICOS2',
       'ProdSoinCheveux.ICOS3', 'ProdSoinVisage.ICOS4',
       'VernisOngleDissolv.ICOS5', 'NbPieceAvecProduitsChim.NQ142',
       'NettoyantDeSurface.QPE1b', 'AutreNettoyants.QPE2b',
       'DesodoAreosolVaporisateur.QPD1b',
       ...
       'Nb_Enfants_inf_10', 'Nb_Enfants_sup_10', 'Sexe', 'Diplome_Max',
       'Type_Prof', 'Occupation', 'Source_ppale_Res', 'Structure_menage',
       'TYPEMEN', 'Formldéhyde'],
      dtype='object', length=130)

In [97]:
df_none_housing = df.drop([
    "NPVe1","HPRF", "HSRF", "MATER2", "NIACe1", "NSQ41e1", "NSQ31e1",
    "TMM1e1", "TMM2e1", "TMM3e1", "TMMB1e1", "TMMB2e1", "TMMB3e1",
    "TRM0e1", "TRM1e1", "TRM2e1", "TRM3e1", "TRM4e1", "TRM5e1", "TRM7e1",
    "TRP0e1", "TRP1e1", "TRP2e1", "TRP3e1", "TRP5e1",
    "TRS1e1", "TRS2e1", "TRS3e1", "TRS4e1", "TRS5e1", "TRS6e1", "TRS8e1",
    "ACTP1", "CHEM1", "DBRI", "DCA3e1", "DGG2be1",
    "FC316", "FC812", "FC9be11", "FC9be12347", "FC9be156",
    "HCU11", "HCU31", "HCU323", "HCU34", "HPLBO",
    "KCC1be1089", "KCC1be11", "KCC1be1234","KCC1be1567", "KCC1be1555",
    "KCC267", "KCC34", "KCC5", "KEIU1", "KEIU2",
    "KVNT2e111", "KVNT2e112", "KVNT2e12", "KVNT2e13","KVNT2e14",
    "MATER017", "MATER02", "MATER03", "MATER04","MATER056",
    "REAB1", "REAB23", "REAB4"
    ], axis = 1)

df_none_menage_none_housing = df_none_housing.drop([
    "Sexe","Diplome_Max", "Type_Prof","Occupation", "Source_ppale_Res", "Structure_menage",
    "Age", "Revenus", "Nb_Person", "Nb_Enfants_inf_10", "Nb_Enfants_sup_10"
    ], axis = 1)


df_none_customs_none_menage_none_housing = df_none_menage_none_housing.drop([
    "VoitureDansGarage.DGG3n", "Fumeurs.FUMEURn", "SechageLingeDansLogement.LVSBn",
    "UtiliseSecheLinge.LVS4n", "NettASecVetements.QNS1",
    "PersExtPourMenage.AMN1n", "TapisDescenteLitNeuf.QTA1n","NettASecTapisTissusmeuble.QTARIn", 
    "Plantes.QPV", "Chiens.ANI21n","Chats.ANI22n", 
    "TraitementParasitesAnimaux.ANTCPn", "HamsterCochonLapin.ANI25n","InsecticideBlatteFourmie.ULn", 
    "SortirOrduresExterieur.QOM1", "OrduresDansPiece.QOM2n", "EndroitStockageOrdures.QOM4",
    "Bricolage.TMG6n", "Jardinage.TMG7n", "ProtMatelSimple.LIMHO0",
    "ProtMatelImperm.LIMHO13", "ProtMatelAntiAcariens.LIMHO23","ProtMatel.LIMHO4",
    "Lessives.LVLb", "Deodorants.ICOS1", "EauDeToilette.ICOS2",
    "ProdSoinCheveux.ICOS3", "ProdSoinVisage.ICOS4",
    "VernisOngleDissolv.ICOS5", "NbPieceAvecProduitsChim.NQ142",
    "NettoyantDeSurface.QPE1b", "AutreNettoyants.QPE2b",
    "DesodoAreosolVaporisateur.QPD1b", "DesodoAutreEnsens.QPD2b",
    "InsecticideAerosol.QPP1b", "InsecticidePoudreBlocGel.QPP2b",
    "NettoySolAspiration.QME1b", "NettoySolBalaiSerp.QME2b",
    "NettoyAutreQueSol.QME3b", "CuissonFourTraditionnel.CUI1b",
    "CuissonALeau.CUI2b", "CuissonALaVapeur.CUI3b",
    "CuissonParFriture.CUI4b", "CuissonParGrillade.CUI5b"
    ], axis = 1)

In [98]:
df_none_customs_none_menage_none_housing.columns

Index(['ACTIVITE', 'TYPEHAB', 'TYPELOG', 'TYPEMEN', 'Formldéhyde'], dtype='object')

In [100]:
df_none_customs_none_menage_none_housing["TYPEHAB"]

0       4
1       4
2       4
3       7
4       3
       ..
1562    2
1563    4
1564    3
1565    9
1566    9
Name: TYPEHAB, Length: 1567, dtype: int64

# <span style="color:red"> Choix de découpage de la dataframe en 5 :</span>

<span style="color:red"> - variables logement **df_housing** </span>

<span style="color:red"> - variables ménage **df_household**  </span>

<span style="color:red"> - variables habitude **df_customs** </span>

<span style="color:red"> - variable cible **df_target** </span>

<span style="color:red"> - variables autres non repertoriés **df_others** </span>

In [108]:
df_housing = df[["NPVe1","HPRF", "HSRF", "MATER2", "NIACe1", "NSQ41e1", "NSQ31e1",
    "TMM1e1", "TMM2e1", "TMM3e1", "TMMB1e1", "TMMB2e1", "TMMB3e1",
    "TRM0e1", "TRM1e1", "TRM2e1", "TRM3e1", "TRM4e1", "TRM5e1", "TRM7e1",
    "TRP0e1", "TRP1e1", "TRP2e1", "TRP3e1", "TRP5e1",
    "TRS1e1", "TRS2e1", "TRS3e1", "TRS4e1", "TRS5e1", "TRS6e1", "TRS8e1",
    "ACTP1", "CHEM1", "DBRI", "DCA3e1", "DGG2be1",
    "FC316", "FC812", "FC9be11", "FC9be12347", "FC9be156",
    "HCU11", "HCU31", "HCU323", "HCU34", "HPLBO",
    "KCC1be1089", "KCC1be11", "KCC1be1234","KCC1be1567", "KCC1be1555",
    "KCC267", "KCC34", "KCC5", "KEIU1", "KEIU2",
    "KVNT2e111", "KVNT2e112", "KVNT2e12", "KVNT2e13","KVNT2e14",
    "MATER017", "MATER02", "MATER03", "MATER04","MATER056",
    "REAB1", "REAB23", "REAB4" ]]

In [110]:
df_housing.head(5)

,NPVe1,HPRF,HSRF,MATER2,NIACe1,NSQ41e1,NSQ31e1,TMM1e1,TMM2e1,TMM3e1,...,KVNT2e13,KVNT2e14,MATER017,MATER02,MATER03,MATER04,MATER056,REAB1,REAB23,REAB4
0,1,300,12,1,1914,0,0,1.0,0.0,0.0,...,1,2,1,1,2,1,1,1,1,1
1,4,280,70,1,1961,0,0,1.0,0.0,0.0,...,1,1,1,1,2,1,1,2,1,2
2,3,250,40,1,1914,0,0,0.0,1.0,0.0,...,1,1,1,1,2,1,1,2,1,2
3,2,320,38,1,1914,2,0,1.0,0.0,0.0,...,2,1,1,1,1,1,2,1,2,1
4,4,240,75,1,1967,1,0,1.0,0.0,0.0,...,2,1,1,1,2,1,1,2,1,2

In [111]:
df_customs = df[["VoitureDansGarage.DGG3n", "Fumeurs.FUMEURn", "SechageLingeDansLogement.LVSBn",
    "UtiliseSecheLinge.LVS4n", "NettASecVetements.QNS1",
    "PersExtPourMenage.AMN1n", "TapisDescenteLitNeuf.QTA1n","NettASecTapisTissusmeuble.QTARIn", 
    "Plantes.QPV", "Chiens.ANI21n","Chats.ANI22n", 
    "TraitementParasitesAnimaux.ANTCPn", "HamsterCochonLapin.ANI25n","InsecticideBlatteFourmie.ULn", 
    "SortirOrduresExterieur.QOM1", "OrduresDansPiece.QOM2n", "EndroitStockageOrdures.QOM4",
    "Bricolage.TMG6n", "Jardinage.TMG7n", "ProtMatelSimple.LIMHO0",
    "ProtMatelImperm.LIMHO13", "ProtMatelAntiAcariens.LIMHO23","ProtMatel.LIMHO4",
    "Lessives.LVLb", "Deodorants.ICOS1", "EauDeToilette.ICOS2",
    "ProdSoinCheveux.ICOS3", "ProdSoinVisage.ICOS4",
    "VernisOngleDissolv.ICOS5", "NbPieceAvecProduitsChim.NQ142",
    "NettoyantDeSurface.QPE1b", "AutreNettoyants.QPE2b",
    "DesodoAreosolVaporisateur.QPD1b", "DesodoAutreEnsens.QPD2b",
    "InsecticideAerosol.QPP1b", "InsecticidePoudreBlocGel.QPP2b",
    "NettoySolAspiration.QME1b", "NettoySolBalaiSerp.QME2b",
    "NettoyAutreQueSol.QME3b", "CuissonFourTraditionnel.CUI1b",
    "CuissonALeau.CUI2b", "CuissonALaVapeur.CUI3b",
    "CuissonParFriture.CUI4b", "CuissonParGrillade.CUI5b"]]

In [112]:
df_customs.head(5)

,VoitureDansGarage.DGG3n,Fumeurs.FUMEURn,SechageLingeDansLogement.LVSBn,UtiliseSecheLinge.LVS4n,NettASecVetements.QNS1,PersExtPourMenage.AMN1n,TapisDescenteLitNeuf.QTA1n,NettASecTapisTissusmeuble.QTARIn,Plantes.QPV,Chiens.ANI21n,...,InsecticideAerosol.QPP1b,InsecticidePoudreBlocGel.QPP2b,NettoySolAspiration.QME1b,NettoySolBalaiSerp.QME2b,NettoyAutreQueSol.QME3b,CuissonFourTraditionnel.CUI1b,CuissonALeau.CUI2b,CuissonALaVapeur.CUI3b,CuissonParFriture.CUI4b,CuissonParGrillade.CUI5b
0,4,3,1,6,3,1,1,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
1,4,2,2,5,3,1,1,1,2,1,...,3.5,0.0,1.0,3.5,1.0,0.0,3.5,0.0,1.0,3.5
2,4,1,1,5,3,1,1,1,1,1,...,0.0,0.0,0.0,1.0,0.0,0.0,3.5,0.0,3.5,0.0
3,4,3,2,5,3,1,1,1,2,1,...,0.0,0.0,3.5,3.5,3.5,0.0,3.5,0.0,0.0,3.5
4,4,1,2,2,2,1,2,1,1,1,...,0.0,0.0,3.5,3.5,0.0,0.0,3.5,0.0,0.0,3.5

In [113]:
df_household = df[["Sexe","Diplome_Max", "Type_Prof","Occupation", "Source_ppale_Res", "Structure_menage",
    "Age", "Revenus", "Nb_Person", "Nb_Enfants_inf_10", "Nb_Enfants_sup_10"
    ]]

In [115]:
df_household.head(5)

,Sexe,Diplome_Max,Type_Prof,Occupation,Source_ppale_Res,Structure_menage,Age,Revenus,Nb_Person,Nb_Enfants_inf_10,Nb_Enfants_sup_10
0,2,1,6,1,1,3,43,817,2,0,0
1,1,7,4,1,1,2,42,2349,2,0,1
2,2,8,5,1,1,1,36,1299,1,0,0
3,2,5,4,1,1,3,30,2349,2,0,0
4,1,9,3,1,1,2,43,4249,3,2,0

In [116]:
df_target = df["Formldéhyde"]

In [118]:
df_target.head(5)

0    12.26
1    10.17
2    21.55
3      NaN
4    11.03
Name: Formldéhyde, dtype: float64

In [119]:
df_others = df[["ACTIVITE", "TYPEHAB", "TYPELOG", "TYPEMEN"]]

In [121]:
df_others.head(5)

   ACTIVITE  TYPEHAB  TYPELOG  TYPEMEN
0      3.15        4        5        1
1      5.25        4        5        5
2      2.35        4        5        2
3      3.45        7        6        1
4      2.10        3        5        6

In [128]:
df_target.describe() # (µg) par m³

count    1518.000000
mean       18.275375
std        10.163695
min         1.020000
25%        11.582500
50%        16.020000
75%        23.440000
max        70.750000
Name: Formldéhyde, dtype: float64